<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QAF NewTours">
  <test thread-count="5" name="ChromeTest">
    <classes>
      <class name="com.newtours.tests.DestinationsLinkTest"/>
      <class name="com.newtours.tests.BookFlightNameTest"/>
      <class name="com.newtours.tests.ExpirationDateFieldTest"/>
      <class name="com.newtours.tests.CountryPopupMessageTest"/>
      <class name="com.newtours.tests.BackToHomeTest"/>
      <class name="com.newtours.tests.LogOutButtonTest"/>
      <class name="com.newtours.tests.FlightDatesTest"/>
      <class name="com.newtours.tests.SupportLinkTest"/>
      <class name="com.newtours.tests.VacationsLinkTest"/>
      <class name="com.newtours.tests.BackToFlightsTest"/>
      <class name="com.newtours.tests.CruiseReservationTest"/>
      <class name="com.newtours.tests.CardNumberFieldTest"/>
      <class name="com.newtours.tests.SameDepartureArrivalTest"/>
      <class name="com.newtours.tests.ContactLinkTest"/>
      <class name="com.newtours.tests.HotelsPageTest"/>
      <class name="com.newtours.tests.FlightFinderTest"/>
      <class name="com.newtours.tests.FlightsPageTest"/>
      <class name="com.newtours.tests.RegistrationTest"/>
    </classes>
  </test> <!-- ChromeTest -->
</suite> <!-- QAF NewTours -->
